@font-face
{
	font-family: Bitter-Regular;
	src: url('Bitter-Regular.otf');
}

p
{
	text-align: center;
}

body
{
	background-image: url('edited-3.png');
}

h2
{
	text-align: center;
	font-size: 36px;
	color: white;
	font-family: Bitter-Regular;
	margin-bottom: 80px;
}

.main
{
	height: 600px;
	width:1200px;
	position: relative;
	margin: auto;
	margin-top: 30px;
	text-align: justify;
	border-style: solid;
}

.main:after
{
	content: '';
	width: 100%;
	display: inline-block;
}

#m1,#m2,#m3,#m4
{
	height: 140px;
	width: 150px;
}


#c1,#c2,#c3,#c4
{
	height: 350px;
	border-style: ridge;
	border-width: 2px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 40px;
	/*position: absolute;*/
	float: left;
	width: 150px;
	display: inline-block;
	margin-left: 85px;
}

/*
#c1
{
	left: 20px;
	bottom: 40px;
}

#c2
{
	left: 350px;
	bottom: 40px;
}

#c3
{
	left: 680px;
	bottom: 40px;

}

#c4
{
	right: 20px;
	bottom: 40px;
}
*/

#icf1, #icf2, #icf3, #icf4
{
	margin: auto;
	margin-top:30px;
	bottom: 0;
	left: 20px;
	width: 54px;
	height: 54px;
	z-index: -10;
}

#ict1, #ict2, #ict3,  #ict4
{
	margin: auto;
	top: 50px;
	bottom: 0;
	left: 20px;
	width: 54px;
	height: 54px;
	z-index: -10;
}

#icf1, #icf2, #icf3, #icf4
{
	background: url("socials-fade.png") no-repeat;
}

#icf1:hover, #icf2:hover, #icf3:hover, #icf4:hover
{
	background: url('socials-fade.png') 0px 54px;
	cursor: pointer;
}

#ict1, #ict2, #ict3, #ict4
{
	background: url("socials-fade.png") -108px 0px;
}

#ict1:hover, #ict2:hover, #ict3:hover, #ict4:hover
{
	background: url('socials-fade.png') -108px 54px;
	cursor: pointer;
}

.bottom-panel
{
	position: absolute;
	bottom: -70px;
	width: inherit;
	left: 0px;
	height:40px;
	margin-bottom: 0px;
	border-top-style: solid;
	border-width: 1px;
	border-color: gray;
}

.bottom-panel-list
{
	list-style: none;
}

.home-about-contact
{
	display: inline-block;
}

.bottom-links
{
	text-decoration: none;
	padding-left: 60px;
	padding-right: 60px;
	font-size: 20px;
	font-style: italic;
	color: black;
} 

.bottom-links:hover
{
	color: green;
	text-decoration: underline;
	-webkit-transition: all 0.3s ease-in;	
	-moz-transition:all 0.3s ease-in;
	-o-transition:all 0.3s ease-in;
	-ms-transition:all 0.3s ease-in;
}

#co-developed
{
	position: absolute;
	bottom: -120px;
	color: black;
	background-color: #2EFE64;
	padding-top: 10px;
	height: 25px;
	left: 0px;
	width: inherit;
}