body
{
	background-image: url('Images/edited-3.png');
	margin: 0 auto;
	border:0;
	padding: 0;
}

#wrapper
{
	width: 880px;
	height: 65px;
	position: fixed;
	left: 205px;
	padding: 0;
	margin: 0;
	top: 0;
	overflow: inherit;
	z-index: 50;
}

.top-panel
{
	width: inherit;
	margin-left: auto;
	margin-right: auto;
	height: inherit;
	left: 0;
	text-transform: uppercase;
	/*border-style: solid;*/
	background-color: #E25A5A;black;
	font-family: ‘Lucida Console’, Monaco, monospace;
	/*font-family: Gill Sans / Gill Sans MT, sans-serif;*/
	position: relative;
	top:0px;
	z-index: 50;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.top-panel-list
{
	list-style: none;
}

.top-opt
{
	display: inline-block;
}

.top-panel-links
{
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 28px;
	padding-right: 28px;
	font-size: 20px;
	margin-left: 0px;
	margin-right: 15px;
	margin-top: 0px;
	color: white;
	display: block;
}

.top-panel-links:hover
{
	-webkit-transition: background-color .4s linear;
	-moz-transition: background-color .4s linear;
	-o-transition: background-color .4s linear;
	-ms-transition: background-color .4s linear;
	background-color: #ea8585;
}

.top-panel-links:visited
{
	text-decoration: underline;
}


#container
{
	position: relative;
	top: 45px;
	width: 1270px;
	height: 650px;
	margin: 0 auto;
	padding: 0;
}

#buy-main-head
{
	font-family: Bitter-Regular;
	font-size: 32px;
	color: white;
	text-align: center;
}

.left-panel
{
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	width: 320px;
	height: 560px;
	background-color: white;
	border-collapse: collapse;
	position: absolute;
	top:90px;
	left: 5px;
	text-align: center;
}

#price-max, #home-search
{
	font-family: fantasy;
	left-margin:auto;
	right-margin:auto; 
	margin-top: 10%;
}

#home-search
{
	margin-top: 5%;
}

.input
{
	font-size: 18px;
	width:180px;
	font-family: serif;
	margin-left: 7px;
	margin-right: 10px;
	float: left;
	margin-bottom: 10px;
	margin-top:15px;
}

.search
{
	margin-top: 15px;
	float: left;
	margin-bottom: 10px;
}	

.search::before
{
	display: inline-block;
	width: 16px;
	height: 15px;
	content: "";
	background: url('Images/search.jpg') no-repeat 0 0;
	background-size: 100%;
}

.search
{
	font-size: 15px;
	width:100px;
	height:32px;
	border-style: outset;
	border-width: 1px;
	border-radius: 15px;
	background-color:black;
	color: white;
}

.search:hover
{
	border-style: inset;
	cursor:pointer;
	background-color: white;
	color: black;
}

h3
{
	font-family: sans-serif;
	padding-left: 5px;
	text-align: left;
}

.search-by
{
	width: 120px;
	height: 30px;
	font-size: 15px;
}

.price-bar
{
	width: 282px;
	height: 50px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	background-color: white;
	position: relative;
	font-size: 19px;
	left: 16px;
}

#price-max
{
	position: absolute;
	top: -15px;
	left: 20px;
}

#id
{
	position: absolute;
	left: 20px;
}

#a
{
	width: 100px;
}

#output
{
	font-size: 25px;
	margin-left: 10px;
	text-decoration: underline;
	color: red;
}

.sub-select
{
	margin-top: 10px;
}

.subs
{
	height: 28px;
	width: 140px;
	float: left;
	margin-left: 20px;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	text-align: left;
	padding-left: 10px;
}

.main
{
	background-color: white;
	height: 560px;
	width: 922px;
	position: absolute;
	top:90px;
	left:340px;
	text-align: center;
}

.latest-additions
{
	position: absolute;
	height: 200px;
	width: 700px;
	left: 115px;
	top:10px;
}

@font-face
{
	font-family: Bitter-Regular;
	src: url('Fonts/Bitter-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

h2
{
	font-family: Bitter-Regular;
}

.bottom-panel
{
	position: absolute;
	bottom: -62px;
	width: inherit;900px;
	height:40px;
	margin-bottom: 0px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: gray;
	text-align: center;
}

.bottom-panel-list
{
	list-style: none;
}

.home-about-contact
{
	display: inline-block;
}

.bottom-links
{
	text-decoration: none;
	padding-left: 60px;
	padding-right: 60px;
	font-size: 20px;
	font-style: italic;
	color: black;
} 

.bottom-links:hover
{
	color: green;
	text-decoration: underline;
	-webkit-transition: all 0.4s ease-in;	
	-moz-transition:all 0.4s ease-in;
	-o-transition:all 0.4s ease-in;
	-ms-transition:all 0.4s ease-in;
}

#co-developed
{
	position: absolute;
	bottom: -110px;
	color: black;
	background-color: #2EFE64;
	padding-top: 10px;
	height: 25px;
	width: inherit;
	text-align: center;
}