body
{
	background-image: url('Images/edited-3.png');
	border:0;
	margin: 0;
	padding: 0;
}

@font-face
{
	font-family: Bitter-Regular;
	src: url('Fonts/Bitter-Regular.otf');
}

#wrapper
{
	width: 880px;
	height: 65px;
	position: fixed;
	left: 205px;
	padding: 0;
	margin: 0;
	top: 0;
	overflow: inherit;
	z-index: 50;
}

.top-panel
{
	width: inherit;
	margin-left: auto;
	margin-right: auto;
	height: inherit;
	left: 0;
	text-transform: uppercase;
	/*border-style: solid;*/
	background-color: #E25A5A;black;
	font-family: ‘Lucida Console’, Monaco, monospace;
	/*font-family: Gill Sans / Gill Sans MT, sans-serif;*/
	position: relative;
	top:0px;
	z-index: 50;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.top-panel-list
{
	list-style: none;
}

.top-opt
{
	display: inline-block;
}

.top-panel-links
{
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 28px;
	padding-right: 28px;
	font-size: 20px;
	margin-left: 0px;
	margin-right: 15px;
	margin-top: 0px;
	color: white;
	display: block;
}

.top-panel-links:hover
{
	-webkit-transition: background-color .4s linear;
	-moz-transition: background-color .4s linear;
	-o-transition: background-color .4s linear;
	-ms-transition: background-color .4s linear;
	background-color: #ea8585;
}

.top-panel-links:visited
{
	text-decoration: underline;
}

#container
{
	height: 500px;
	width: 1000px;
	margin: auto;
	text-align: center;
	margin-top: 70px;
	position: relative;
}

h2
{
	font-family: Bitter-Regular;
	font-size: 32px;
	color: white;
}

.bottom-panel
{
	position: absolute;
	bottom: -62px;
	width: inherit;
	height:40px;
	border-top-style: solid;
	border-width: 1px;
	border-color: gray;
	text-align: center;
}

.bottom-panel-list
{
	list-style: none;
}

.home-about-contact
{
	display: inline-block;
}

.bottom-links
{
	text-decoration: none;
	padding-left: 60px;
	padding-right: 60px;
	font-size: 20px;
	font-style: italic;
	color: black;
} 

.bottom-links:hover
{
	color: green;
	text-decoration: underline;
	-webkit-transition: all 0.4s ease-in;	
	-moz-transition:all 0.4s ease-in;
	-o-transition:all 0.4s ease-in;
	-ms-transition:all 0.4s ease-in;
}

#co-developed
{
	position: absolute;
	bottom: -110px;
	color: black;
	background-color: #2EFE64;
	padding-top: 10px;
	height: 25px;
	width: inherit;
	text-align: center;
}