

/*
Globals...
*/


body
{
	background-image: url('Images/edited-3.png');
	opacity: 0.9;
	border:0;
	padding: 0;
	margin: 0 auto;
	/*font-size-adjust: 0.50;*/
}

@font-face
{
	font-family: Bitter-Regular;
	src: url('Fonts/Bitter-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

a#focus:link
{
	background-color: #ea8585;
}

h1, h2, h3
{
	font-family: Bitter-Regular;
	text-align: center;
}

#wrapper
{
	width: 880px;
	height: 65px;
	position: fixed;
	left: 205px;
	padding: 0;
	margin: 0;
	top: 0;
	z-index: 50;
}

.top-panel
{
	width: inherit;
	margin-left: auto;
	margin-right: auto;
	height: inherit;
	left: 0;
	text-transform: uppercase;
	/*border-style: solid;*/
	background-color: #E25A5A;black;
	font-family: ‘Lucida Console’, Monaco, monospace;
	/*font-family: Gill Sans / Gill Sans MT, sans-serif;*/
	position: relative;
	top:0px;
	display: inline-block;
	margin: 0;
	padding: 0;
}

.top-panel-list
{
	list-style: none;
}

.top-opt
{
	display: inline-block;
}

.top-panel-links, .top-panel-links:link
{
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 28px;
	padding-right: 28px;
	font-size: 20px;
	margin-left: 0px;
	margin-right: 15px;
	margin-top: 0px;
	color: white;
	display: block;
}

.top-panel-links:hover
{
	-webkit-transition: background-color .4s linear;
	-moz-transition: background-color .4s linear;
	-o-transition: background-color .4s linear;
	-ms-transition: background-color .4s linear;
	background-color: #ea8585;
}

.bottom-panel
{
	position: absolute;
	bottom: -80px;
	width: inherit;
	height:40px;
	margin-bottom: 0px;
	border-top-style: solid;
	border-width: 1px;
	border-color: gray;
	text-align: center;
}

.bottom-panel-list
{
	list-style: none;
}

.home-about-contact
{
	display: inline-block;
}

.bottom-links
{
	text-decoration: none;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 20px;
	font-style: italic;
	color: black;
} 

.bottom-links:hover
{
	color: green;
	text-decoration: underline;
	-webkit-transition: all 0.3s ease-in;	
	-moz-transition:all 0.3s ease-in;
	-o-transition:all 0.3s ease-in;
	-ms-transition:all 0.3s ease-in;
}

#co-developed
{
	position: absolute;
	bottom: -130px;
	color: black;
	background-color: #2EFE64;
	padding-top: 10px;
	height: 25px;
	width: inherit;
	text-align: center;
}

/*
Different for different pages...
*/
/*
Homepage
*/
#home-main-head
{
	
	width: 1050px;
	height: 80px;
	margin:0 auto;
	margin-top: 75px;
}

h1, .head
{
	color: white;
}

h1
{
	font-size: 30px;
}

.head
{
	font-size: 40px;
}


#home-container
{
	position: relative;
	height: 500px;
	width: 1100px;
	margin: 0 auto;
	padding: 0;
	margin-top: 55px;
}

.buy-box, .sell-box, .rent-box
{
	display: inline-block;
	height: 420px;
	width: 280px;
	position: relative;
	margin-bottom: 50px;
	color: white;
	float: left;
	box-shadow: 10px 10px 5px black;
	top: 0px;
	padding: 20px;
	border-style: solid;double;groove;inset;ridge;outset;
	border-width: 2px;
	border-color: white;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 180%;
	border-radius: 15px;
}

.buy-box
{
	background-color: #E44424;#D9853B;
}

.sell-box
{
	background-color: #67BCDB;#558C89;
}

.home-desc, ol
{
font-family: 'Comic Sans MS', sans-serif;
font-weight: 500;
font-style: normal;
line-height: 1.1;
color: white;
margin-top: 30px;
font-size: 16px;
}

ol
{
	text-align: left;
}

.rent-box
{
	background-color: #A2AB58;#67BCDB;#558C89;
}

.continue-buy, .continue-sell, .continue-rent
{
	position: absolute;
	bottom: 60px;
	left: 80px;
}

.buy-link, .sell-link, .rent-link
{
	color: white;
	background-color: transparent;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	border-style: solid;
	border-color: white;
	border-radius: 15px;
}

.buy-link:hover, .sell-link:hover, .rent-link:hover
{
	background-color: white;
}

.buy-link:hover
{
	color: #E44424;
}

.sell-link:hover
{
	color: #67BCDB;
}

.rent-link:hover
{
	color: #A2AB58;
}


/*
About..
*/
#about-us-text
{
	margin-top: 70px;
	text-align: center;
	font-size: 32px;
	color: white;
	margin-bottom: 60px;
}

.main-container
{
	height: 490px;
	width:1200px;
	position: relative;
	margin: auto;
	margin-top: 30px;
	text-align: justify;
	background-color: white;
}

.main-container:after
{
	content: '';
	width: 100%;
	display: inline-block;
}

#m1,#m2,#m3,#m4
{
	height: 150px;
	width: 160px;
}


#c1,#c2,#c3,#c4
{
	height: 350px;
	border-style: ridge;
	border-width: 2px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 40px;
	float: left;
	width: 161px;
	display: inline-block;
	margin-left: 70px;
	margin-right: 15px;
	margin-top: 35px;
}

#icf1, #icf2, #icf3, #icf4
{
	margin: auto;
	margin-top:30px;
	bottom: 0;
	left: 20px;
	width: 54px;
	height: 54px;
	z-index: -10;
}

#ict1, #ict2, #ict3,  #ict4
{
	margin: auto;
	margin-top:15px; 
	top: 50px;
	bottom: 0;
	left: 20px;
	width: 54px;
	height: 54px;
	z-index: -10;
}

#icf1, #icf2, #icf3, #icf4
{
	background: url("Images/socials-fade.png") no-repeat;
}

#icf1:hover, #icf2:hover, #icf3:hover, #icf4:hover
{
	background: url('Images/socials-fade.png') 0px 54px;
	cursor: pointer;
}

#ict1, #ict2, #ict3, #ict4
{
	background: url("Images/socials-fade.png") -108px 0px;
}

#ict1:hover, #ict2:hover, #ict3:hover, #ict4:hover
{
	background: url('Images/socials-fade.png') -108px 54px;
	cursor: pointer;
}


/*
Buy..
*/


#buy-container
{
	position: relative;
	top: 45px;
	width: 1270px;
	height: 650px;
	margin: 0 auto;
	padding: 0;
}

#buy-main-head
{
	font-family: Bitter-Regular;
	font-size: 32px;
	color: white;
	text-align: center;
}

.buy-left-panel
{
	float: left;
	border-style: solid;ridge;
	border-width: 1px;
	border-color: gray;
	width: 320px;
	height: 450px;
	background-color: white;
	position: absolute;
	top:80px;
	left: 0px;
	text-align: center;
}

#price-max, #home-search
{
	font-family: fantasy;
	left-margin:auto;
	right-margin:auto; 
	margin-top: 10%;
}

#home-search
{
	margin-top: 5%;
}

.input
{
	font-size: 18px;
	width:300px;
	font-family: serif;
	margin-left: 7px;
	margin-right: 10px;
	float: left;
	margin-bottom: 5px;
	margin-top:15px;
}

.search
{
	margin-top: 15px;
	margin-bottom: 0px;
	font-size: 15px;
	width:100px;
	height:32px;
	border-style: outset;
	border-width: 1px;
	border-radius: 15px;
	background-color:black;
	color: white;
}	

.search::before
{
	display: inline-block;
	width: 16px;
	height: 15px;
	content: "";
	background: url('Images/search.jpg') no-repeat 0 0;
	background-size: 100%;
}

.search:hover
{
	border-style: inset;
	cursor:pointer;
	background-color: white;
	color: black;
}

#search-filter-text
{
	font-family: sans-serif;
	padding-left: 0px;
	text-align: center;
}

.search-filters
{
	text-align: left;
	padding-left: 30px;
}

.search-by
{
	width: 150px;
	height: 30px;
	font-size: 15px;
}

.price-bar
{
	width: 282px;
	height: 45px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	background-color: white;
	position: relative;
	font-size: 19px;
	left: -15px;
}

#price-max
{
	position: absolute;
	top: -15px;
	left: 20px;
}

#a
{
	width: 100px;
}

#output
{
	font-size: 25px;
	margin-left: 5px;
	text-decoration: underline;
	color: red;
}

.sub-select
{
	margin-top: 10px;
}

.subs
{
	height: 22px;
	width: 140px;
	float: left;
	margin-left: 20px;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	text-align: left;
	padding-left: 10px;
}

#latest-outer
{
	background-color: white;
	height: 600px;
	width: 922px;
	position: absolute;
	top:80px;
	left:340px;
	text-align: center;
}

.latest-additions
{
	position: absolute;
	height: 200px;
	width: 700px;
	left: 115px;
	top:10px;
}


/*
Contact Us...
*/


#contact-container
{
	height: 500px;
	width: 1000px;
	margin: auto;
	text-align: center;
	margin-top: 70px;
	position: relative;
}

#contact-us-text
{
	font-size: 32px;
	color: white;
}


/*
Delete....
*/


#del-main-container
{
	position: relative;
	height: 500px;
	width: 950px;
	margin: auto;
	top:60px;
}

#delete-text
{
	font-size: 32px;
	color: white;
	text-align: center;
}

#del-top-container
{
	width: 800px;
	height: 50px;
	margin: auto;
	margin-top: 150px;
	font-size: 22px;
	font-family: Bitter Regular;
	text-align: center;
	position: absolute;
	top:-60px;
	left: 70px;
	background-color: white;
	padding-top: 15px;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	border-radius: 10px;
}

#del-main
{
	height: 250px;
	width: 480px;
	font-size: 20px; 
	margin: auto;
	margin-top:10px;
	padding-left: 100px;
	text-align: left;
	position: absolute;
	bottom:55px;
	left: 190px;
	background-color: white;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	border-radius: 10px;
}

.sub
{
	margin-top: 15px;
	width: inherit;
	line-height: 150%;
}

.del-input
{
	float: right;
	margin-right: 100px;
}

#submit
{
	width: 90px;
	height: 40px;
	font-size: 16px;
	margin: auto;
	margin-top: 40px;
	margin-right: 205px;
}

/*
Entry...
*/


#step-2-text
{
	font-size: 22px;
	text-align: center;
}

#step-2
{
	position: absolute;
	height: 40px;
	width: inherit;
}

#successful-text
{
	font-size: 22px;
	font-family: Bitter-Regular;
	line-height: 150%;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

#s2
{
	position: absolute;
	top: 80px;
}

.content
{	
	padding-top: 20px;
	height: 500px;
	width: 820px;
	background-color: white;
	position: relative;
	top:180px;
	left: 238px;
}

.links-list
{
	position: absolute;
	top:240px;
	height: 60px;
	width: inherit;
}

.links-box
{
	float: left;
	margin-left: 110px;
	height:50px;
	width: 270px; 
}

.links
{
	font-size: 20px;
	font-family: monospace;
	text-decoration: none;
	padding:10px;
	border-style: inset;
	border-color: transparent;
	border-width: 2px;
	background-color: #75A3FF;
	color: white;
	border-radius: 10px;
}

.links:hover
{
	background-color: #5E82CC;
	color: white;
	border-style: outset;
}


/*
Rent....
*/


#rent-container
{
	position: relative;
	top: 60px;
	width: 1270px;
	height: 720px;
	margin: 0 auto;
	padding: 0;
}

#main-head
{
	font-size: 32px;
	color: white;
	text-align: center;
}

.rent-left-panel
{
	margin-left: 0;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	width: 320px;
	height: 665px;
	background-color: white;
	border-collapse: collapse;
	text-align: center;
}

#rent-search
{
	font-family: fantasy;
	left-margin:auto;
	right-margin:auto; 
	margin-top: 5%;
}

#input
{
	margin-top: 7px;
	font-size: 18px;
	width:180px;
	font-family: serif;
	margin-left: 7px;
	margin-right: 10px;
	float: left;
}

#search-btn
{
	font-size: 15px;
	width:100px;
	height:32px;
	border-style: outset;
	border-width: 1px;
	border-radius: 15px;
	background-color:black;
	color: white;
	margin-top: 7px;
	float: left;
	margin-bottom: 10px;
}

#search-btn::before
{
	display: inline-block;
	width: 16px;
	height: 15px;
	content: "";
	background: url('Images/search.jpg') no-repeat 0 0;
	background-size: 100%;
}

#search-btn:hover
{
	border-style: inset;
	cursor:pointer;
	background-color: white;
	color: black;
}

#search-by
{
	width: 120px;
	height: 30px;
	font-size: 15px;
}

.rent-period
{
	height: 112px;
	margin-top:10px;
	margin-bottom: 60px;
}

.rent-time
{
	height: 28px;
	width: 130px;
	float: left;
	margin-left: 20px;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	text-align: left;
	padding-left: 10px;
}

.sub-select
{
	margin-top: 10px;
}

.main
{
	background-color: white;
	height: 665px;
	width: 922px;
	position: relative;
	left:340px;
	text-align: center;
}

.latest-additions
{
	position: absolute;
	height: 200px;
	width: 700px;
	left: 115px;
	top:10px;
}


/*
Sell...
*/



#sell-container
{
	height: 715px;
	width: 950px;
	position: relative;
	top: 60px;
	margin: 0 auto;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	border-radius: 10px;
}

#sell-main-head
{
	width: 745px;
	height: 40px;
	margin: auto;
	text-align: center;
	margin-top: 50px;
}

#sell-books-text
{
	font-size: 32px;
	text-align: center;
	color: white;
}

#step-1-text
{
	font-size: 22px;
	text-align: center;
}

#step-1
{
	position: absolute;
	height: 40px;
	width: inherit;
	top:8px;
}

#compulsary-text
{
	margin-top: 30px;
}

#sell-form
{
	width:850px;
	height: 640px;
	position: absolute;
	top: 60px;
	text-align: left;
	line-height: 180%;
	font-size: 130%;
	left: 45px;
}

.sell-input
{
	float: right;
	font-size: 80%;
	line-height: 120%;
	width: 180px;
}

#s-cost, #r-cost
{
	background: url('Images/ruppee.gif');
	background-size: 20px 20px;
	background-position: right;
	padding-right: 0px;
	background-repeat: no-repeat;
}

#submit-button
{
	height: 40px;
	width: 90px;
	font-size: 17px;
	position: absolute;
	left: 400px;
	top:580px;
}

#error, #error1, #error2, #error3, #error4, #error5, #error6
{
	height: 10px;
	width: 370px;
	font-size: 16px;
	color: red;
	display: none;
}

#error7, #error8
{
	height: 10px;
	width: 240px;
	font-size: 16px;
	color: red;
	display: none;
}

#verify-phone:hover span
{
	position: absolute;
	z-index: 100;
	border-style: outset;
	height: 100px;
	width: 100px;
	left: 500px;
	top: 500px;
	font-size: 16px;
	line-height: 18px;
}

#new-button
{
	color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65);
    font-size: 110%;
    margin-left: 260px;
	margin-right: auto;
	width: 35%;
	position: absolute;
}

