
/* FIXES FOR SOME CROSS BROWSER COMPATIBILITY ISSUES */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

a, a:visited, a:link { outline:0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

textarea { overflow: auto; vertical-align: top; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }

button[disabled], input[disabled] { cursor: default; }

button, input { line-height: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

img { border: 0; -ms-interpolation-mode: bicubic; }

q:before, q:after { content: ''; content: none; }

code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }


/******************************** GLOBALS ****************************/


body { background-color:white; border:0; margin:0 auto; padding:0; }

@font-face { font-family:Bitter-Regular; src:url('Fonts/Bitter-Regular.otf'); }

@font-face { font-family:Proxima-Nova; src:url('Fonts/Proxima-Nova/ProximaNova-Regular.otf'); }

@font-face { font-family:Ubuntu; src:url('Fonts/Ubuntu/Ubuntu-R.ttf'); }

a#focus:link { background-color:#009fE7; border-bottom:2px solid white; }

h1, h2, h3 { font-family:Bitter-Regular; text-align:center; }

.outer-page-wrap { margin:0 auto; width: 100%; display: block; }

.page-header { background-color:#1884E9; color:white; width:100%; min-width: 1202px;1302px; height:165px;	margin:-70px auto 0; text-align:center;	padding-top:5px; font:26px Bitter-Regular; }

.pointer-onhover:hover { cursor:pointer; }

.instructions { height:150px; width:900px; border-left:7px solid #F0F0F0; margin:50px auto 0px; padding-left:40px; font-family: Ubuntu; background-color:#FAFAFA; }

.instructions-list-item { font-size:16px; margin:10px 0px; }

.main-containers { position:relative; }

.container-style { border:2px solid #d3d3d3; border-bottom:none; border-top:none;	}

ul { list-style-type: none; }


/********************  HEADER   ************************/


#favicon { width: 54px; height: 54px; position: relative; top:-80px; left: 2%; }

.header-wrapper { width:99.92%; height:65px; position:relative; top:120px; }

.header-wrapper-fixed {	z-index:50;	position:fixed; top:0; left:0; }

.header { width:100%; min-width: 1200px;1300px; height:65px; background-color:#1884E9; font-family: Ubuntu; margin: -60px auto 0; border:1px outset transparent; }

.header .header-menu { width: inherit;1300px; margin: auto; }

.header .header-menu ul { list-style:none; width:730px; display: inline-block; padding-left: 10px;   }

.header .header-menu ul li { display:inline-block; }

.header .header-menu ul li a { text-decoration:none; padding:5px 28px; font-size:20px; margin-right:12px; color:white; display:inline-block; border-radius: 8px; }

.header .header-menu ul li a:hover { -webkit-transition:background-color .4s linear; -moz-transition:background-color .4s linear; -o-transition:background-color .4s linear; -ms-transition:background-color .4s linear; background-color:#009fE7; }

.header .header-menu button#fork-on-github { color: white; font-size: 16px; font-family: Ubuntu; width: 200px; height: 40px; background-color: #1dc491; border: 1px solid transparent; border-radius: 5px; display: inline-block; margin: 10px 0 0 330px; }

.header .header-menu button#fork-on-github:hover { opacity: 0.9; }


/********************  FOOTER   ************************/


footer { width:100%; height:100px; margin-bottom:0; position:relative; text-align:center;	background-color:#0078E7; color:white; font-size:14px; }

footer div { height:20px; width:inherit; padding-top:1px;	margin-top:20px; }

footer div ul { list-style:none; }

footer div ul li { display:inline-block; }

footer div ul li a {	text-decoration:none; padding:0 50px;	margin:0 20px; font:20px Proxima-Nova; color:white; }

footer div ul li a:hover { text-decoration:underline; }

footer #copyright { margin-top:25px; height:30px; width:inherit; background-color:white; color:#0078E7; padding-top:10px; box-shadow:4px 0px 4px black; }


/********************  INDEX.PHP   ************************/


a.index-header-links, a.index-header-links:link { text-decoration:none; text-transform:uppercase; padding:8px 28px; font-size:24px; margin-right:15px; color:white; display:inline-block; }

a.index-header-links:hover { -webkit-transition:background-color .5s ease-in; -moz-transition:background-color .5s ease-in; -o-transition:background-color .5s ease-in; -ms-transition:background-color .5s ease-in; background-color:gray; }

img#back-img { min-height: 100%; min-width: 100%; position:fixed; top:-140px; }

#index-container { height:460px; width:1100px; padding:0; margin:110px auto 50px auto; }


/********************  ABOUT.PHP   ************************/


#about-us-container { height:320px;	width:1200px; margin:40px auto 250px; text-align:justify; background-color:white; }

.developer-profile, .profile-onhover { height:300px; width:290px; border:1px ridge #d3d3d3; margin:55px 0px 0px 50px; padding:20px 20px 40px; float:left; display:inline-block; text-align:center; }

.profile-image { height:160px; width:160px; border:solid transparent; border-radius:100px; }

.developer-profile a img.profile-image:hover { cursor:default; }

.profile-onhover { -webkit-transition:background-color .4s linear, color .4s linear; -moz-transition:background-color .4s linear, color .4s linear; -o-transition:background-color .4s linear, color .4s linear; -ms-transition:background-color .4s linear, color .4s linear; }

.profile-onhover:hover { border-color:transparent; background-color:#DCDCDC; }

.developer-profile p { font: italic 19px serif; }

.developer-profile div { height:43px; width:45px; float:left; margin:10px 5px 0 7px; }

.fb { background:url("Images/icon-logos.png") 0 0; }

.tw { background:url("Images/icon-logos.png") -155px 0; }

.li { background:url("Images/icon-logos.png") -103px 0; }

.gi { background:url("Images/icon-logos.png") -24px 41px; }

.ml { background:url("Images/gmail.jpg") -4px -4px; }


/********************    BUY.PHP    ************************/


#buy-container { width:1200px;1270px; min-height:1050px; margin:0 auto 100px; padding:0; top:10px; overflow: hidden; }

#buy-container aside { width:300px; float:left; border:1px solid #d3d3d3; border-left:none; border-right:none; background-color:white; position:absolute; top:80px; margin-left: 45px; text-align:center; }

#buy-container aside form { font-family:Ubuntu; margin:8% auto 0; }

#buy-container aside form input[type="text"], input[type="search"] { width:220px; position:relative; }

#buy-container aside form input[type="checkbox"], input[type="radio"] { margin-right: 5px; }

#buy-container aside form #buy-search-filters { width:280px; text-align:left; padding-left:10px; margin-bottom: 30px; }

#buy-container aside form #buy-search-filters button { height:30px; width:50px; background-color:#CCCCCC; font:16px Ubuntu; border:5px outset transparent; position:relative; top:3px; }

#buy-container aside form #buy-search-filters button:hover { background-color:black; color:white; }

#buy-container aside form #buy-search-filters #search-filters-college-select { height:43px; margin-bottom: 60px; }

#buy-container aside form #buy-search-filters #search-filters-college-select input#search-filters-college-search { top:0; left:-5px; font-size: 17px; height: inherit; font-family: Verdana,Arial,sans-serif; }

#buy-container aside form #buy-search-filters .ui-widget input#left-panel-search-bar { top:0; left:-3px; }

#buy-container aside form #buy-search-filters button#left-panel-search-btn { top:-40px !important;	right:-231px !important; }

#buy-container aside form #buy-search-filters #left-panel-sub-select { margin-top:10px; }

#buy-container aside form #buy-search-filters .left-panel-text-wrap {	height:30px; width:inherit;	margin-top:0;	font-size:18px;	font-weight:550; }

#buy-container aside form #buy-search-filters #left-panel-sub-select #sub-scroll-bar { height:350px; width:290px; overflow-y:scroll; overflow-x:hidden; margin:10px 0px 40px; }

#buy-container ::-webkit-scrollbar { width:15px; }

#buy-container ::-webkit-scrollbar-track { background-color:white; }

#buy-container ::-webkit-scrollbar-thumb { background-color:#C7C3C3; border:1px solid transparent; border-radius:10px; }

#buy-container ::-webkit-scrollbar-button { border:1px solid transparent; border-radius:10px; background-color:gray; }

#buy-container ::-webkit-scrollbar-corner { }

#buy-container aside form #buy-search-filters #left-panel-sub-select #sub-scroll-bar .sub-cbox { font-size:16px; margin-top: 10px; }

#buy-container aside form #buy-search-filters #left-panel-sub-select #sub-scroll-bar .sub-cbox label { color: gray; }

#buy-container aside form #buy-search-filters #left-panel-sub-select #sub-scroll-bar .sub-cbox:hover label { color:black !important; }

#buy-container aside form #buy-search-filters > label { color: gray; }

#buy-container aside form #buy-search-filters > label:hover { color: black !important; }

#buy-container aside form #buy-search-filters > label .radio-available-for { margin-top: 10px; }

#buy-container aside form #buy-search-filters #left-panel-price-range #price-range-text-wrapper { margin-top:25px; }

#buy-container aside form #buy-search-filters #left-panel-price-range input:in-range { width:90px; margin-right:3px; }

#buy-container #buy-content-container { min-height:1050px; width:922px;	position:absolute; top:50px; left:340px; text-align:left; padding-bottom:20px; }

#buy-container #buy-content-container .books-data { height:200px; width:780px;	margin:30px 0 30px 50px; font-family:Ubuntu; border:1px solid #d3d3d3; }

#buy-container #buy-content-container .books-data:hover {	cursor:pointer;	border-color:orange; }

#buy-container #buy-content-container .books-data:visited { cursor:pointer; background-color:#ffff66; }

#buy-container #buy-content-container div { position:relative; }

#buy-container #buy-content-container .image-buy-wrapper { height:140px; width:120px;	top:20px; left:10px; }

#buy-container #buy-content-container .books-data-images { height:inherit; width:inherit; }

#buy-container #buy-content-container .name-buy-wrapper { height:28px; width:400px; left:115px; top:-125px; font-size:19px; padding-left:25px; overflow:hidden; }

#buy-container #buy-content-container .author-buy-wrapper { height:30px; width:400px; left:115px;	top:-120px;	font-size:17px;	color:gray;	padding-left:25px; }

#buy-container #buy-content-container .category-buy-wrapper { height:35px; width:400px; left:115px;	top:-115px;	font-size:17px; color: gray; padding-left:25px; }

#buy-container #buy-content-container .desc-buy-wrapper {	height:70px; width:580px; left:115px; top:-115px; font-size:14px; color:gray; padding-left:25px; }

#buy-container #buy-content-container .sell-buy-wrapper {	height:40px; font-size:19px; top:-275px; left:550px; }

#buy-container #buy-content-container .rent-buy-wrapper {	height:40px; font-size:19px;	top:-275px;	left:550px;	}

#buy-container #buy-content-container .sell-buy-wrapper .ruppee-img,
#buy-container #buy-content-container .rent-buy-wrapper .ruppee-img { height:18px; width:16px; margin:0 1px 0px 2px; }

#buy-container #go-to-top { background-color: #2DBE50; height: 35px; position: fixed; right:1.5%; bottom: 45%; width: 90px; z-index:500; }

#buy-container #go-to-top span { margin-left: 5%; font-size: 16px; display: inline-block; color: white; }

#buy-container #go-to-top p { font: 14px Ubuntu; text-align: center; display: inline-block; color: white; margin-top: 9%; }

.seller-data { width:600px; height:350px; border:1px solid transparent; border-radius:15px; background-color: white; box-shadow: 0px 0px 20px white;}

.seller-data div { position:relative; height:50px; width:450px; top:10px; left:70px; padding:5px 0px 0px 10px; border:1px solid white; background-color:#E6E6E6; font-size:20px; }

.seller-data div:hover { background-color: #d3d3d3;}

.seller-data div span { font-size: 25px; }

.seller-data #seller-details-head { text-align: center; font: 20px Ubuntu; }


/*********************  CONTACT.PHP  ***********************/


#contact-us-container {	height:500px; width:1000px;	margin:120px auto 130px;	text-align:center; }


/********************  DEL.PHP  ************************/


#del-main-container { height:600px;	width:950px; margin:100px auto 250px; top:20px; }

#del-main-container #del-main { height:550px; width:930px; font-size:20px; text-align:left; position:absolute; top:55px; background-color:white; padding:10px 10px 0px; }

#del-main-container #del-main #del-desc {	width:inherit; height:130px; margin:auto; padding-top:15px;	font:21px;	text-align:center; position:absolute; left:0;	top:10px; }

#del-main-container #del-main form#del-form {	height:340px; width:700px; position:relative; top:140px; left:140px; }

#del-main-container #del-main form#del-form .sub { width:270px;	height:50px; margin:0 0px 15px 180px;	line-height:130%; display:inline-block; }

#del-main-container #del-main form#del-form input:not([type="submit"]) { width:inherit;	height:inherit;	font-size:14px; }

#del-main-container #del-main form#del-form input[type="submit"] { width:150px; height:60px; font:22px Ubuntu;	margin:55px 250px 0px; background:#403C94; color:white;	border:1px transparent;	border-radius:10px; }

#del-main-container #del-main form#del-form input[type="submit"]:hover {	cursor:pointer;	-webkit-transition:opacity .5s linear; -moz-transition:opacity .5s linear; -o-transition:opacity .5s linear; -ms-transition:opacity .5s linear;	opacity:0.8; }

#del-main-container #del-main form#del-form div[id^="del-error"] { color:red; font-size:16px; margin-left:15px; display:none; }

#del-main-container #del-main form#del-form #del-error_incorrect { margin:20px 0px 0px 130px; }

#del-main-container #edit-form { height:885px; width:inherit; display:none; background-color:white; }

#del-main-container #edit-form button#delete-btn { height:70px; width:280px; background-color:red; color:white; margin:10px auto 0px 330px; border:1px solid white; font:24px Ubuntu; border:1px solid transparent; border-radius:20px; }

#del-main-container #edit-form button#delete-btn:hover {	cursor:pointer; -webkit-transition:opacity .5s linear; -moz-transition:opacity .5s linear; -o-transition:opacity .5s linear; -ms-transition:opacity .5s linear;	opacity:0.8; }

#del-main-container #edit-form #edit-head { height$('#password').after(); :80px; width:inherit; position:absolute;	margin:10px auto; font-size:20px; text-align:center; }

#del-main-container #edit-form #edit-head #or { height:35px; width:45px; margin:auto;	margin-top:20px; padding: 0px 5px 24px 5px; border:1px solid black; border-radius:33px; background-color:black; }

#del-main-container #edit-form #edit-head #or #or-text { color:white; font-size:20px; }

#del-main-container #edit-form #edit-head #edit-desc { margin-bottom:15px; }

#del-main-container #edit-form form#eform { height:640px; font-size:21px; margin:150px 0px 0px 230px; }

#del-main-container #edit-form form#eform button#del-new-btn { width:19%; height:8%; color:white; border:1px transparent; border-radius:15px; background:#403C94; font:24px Ubuntu; margin-right:auto; position:absolute; bottom:-5px; left:390px; }

#del-main-container #edit-form form#eform button#del-new-btn:hover { cursor:pointer; -webkit-transition:opacity .5s linear;	-moz-transition:opacity .5s linear;	-o-transition:opacity .5s linear; -ms-transition:opacity .5s linear; opacity:0.8; }

#del-main-container #edit-success {	display:none; height:200px;	width:inherit; color:black;	font:20px Bitter-Regular;	text-align:center; margin:30px auto; background-color:white; padding-top:50px; }


/*********************  FAQs.php  *************************/


#faqs-container { width:950px; margin:50px auto 250px; background-color:white; top:20px; padding:10px 20px 0px; line-height:180%; }

#faqs-container h1#faqs-head { color:black; font:500 26px Bitter-Regular; text-align:center; }

#faqs-container h2.ques {	font:lighter 22px Ubuntu;	text-align:left; }

#faqs-container .ans { font-size:20px; margin-bottom:40px; }


/********************  FEEDBACK.PHP  ************************/

#feedback-container { margin-top: 90px; }

#feedback-container iframe { height: 1090px; width: 700px; margin: 100px auto 150px; display: block; }

/********************  NOJS.PHP  ************************/


#nojs-container { width: 80%; margin: 20px auto; height: 480px; }

#nojs-container p { color: #000; font-size: 18px; text-align: center; padding: 50px 10px; }


/*******************  SELL.PHP   *************************/


#sell-container { height:1050px; width:850px; top:60px; margin:0 auto 250px; background-color:white; }

#sell-instructions { height:170px; }

#sell-form-wrap { width:500px; height:940px;	position:relative;absolute; top:10px; left:182px; text-align:left; line-height:180%;	font-size:130%; }

.sell-input { height:37px; width:470px; font:81% Proxima-Nova; line-height:100%; box-shadow:0 1px 3px 1px #ddd; border:inset 1px solid #ccc; border-radius:8px; margin:0 0px 15px 20px;	padding-top:0.2em; box-sizing:border-box; display: inline-block; }

.compulsary-label { color:red; font-size:15px; margin:0 0 0 3px; padding:0; width:3px; display:inline-block; }

#before-phone { width:50px;	border-style:outset; color:black; }

#phone { width:410px; }

#show-password { font-size:32px; position:absolute;	left:440px;	top:215px; cursor:pointer; }

#help {	height:30px; width:28px; margin-top:5px; display:inline-block; position:absolute; left:-35px; top:215px; }

#help-popup { height:44px; width:380px;	box-shadow:1px 1px 1px black; border:1px solid transparent;	position:absolute; left:-177px;	top:150px; font:15px Ubuntu; padding:5px; background-color: black; line-height:150%; display:none; text-align: center; color: white; border-radius: 10px; }

#help-popup:after { content: ""; position: absolute; width: 0; height: 0; border-width: 10px; border-style: solid; border-color: black transparent transparent transparent; top: 55px; left: 144px; }

#book-desc { height:80px; resize:none; }

#cover-image-img-src { position: absolute; top: 570px; left: 500px; height: 200px; width: 150px; }

#s-cost, #r-cost { background:url('Images/ruppee.gif') no-repeat top right; padding-right:0; }

#r-cost { width:310px; }

#select-subject { width:150px; border-style:outset;	color:black; }

#subject { width:310px; }

#image-search-link { font-size: 15px; margin-left: 10px; text-decoration: none; color: red; }

#rent-price { width:150px; }

#book-for {	width:150px; border-style:outset; color:black; }

#sell-rent { width:310px; }

div[id^="error"] { height:30px;	width:470px; font:normal 15px Ubuntu; margin-bottom:10px; color:red; border-radius:0 10px 0px 10px; padding-left:5px; display:none; }

#new-btn { width: 200px; height: 72px; color:white; border:1px transparent; border-radius:15px; background:#403C94; font:105% Ubuntu; margin-right:auto; position:relative; margin-left: 140px; }

#new-btn:hover { cursor:pointer; -webkit-transition:opacity .5s linear;	-moz-transition:opacity .5s linear;	-o-transition:opacity .5s linear; -ms-transition:opacity .5s linear; opacity:0.8; }

#entry { height:600px; width:820px;	display:none; }

#successful-text { font:22px Bitter-Regular; line-height:150%; text-align:center; padding:0 10px; position:relative; left:40px; }

#success-submit-wrap { position:absolute; top:80px; }

.links-list { height:60px; width:inherit; position:absolute; top:280px; }

.links-box { height:50px; width:270px; float:left; margin-left:110px; }

.links { font:20px monospace; text-decoration:none; padding:10px;	border:2px inset transparent; border-radius:10px; background-color:#75A3FF;	color:white; }

.links:hover { background-color:#5E82CC; color:white; border-style:outset; }

/*
::-webkit-input-placeholder {
   color: ;silver;blue;red;
}

:-moz-placeholder {
   color: red;
}

::-moz-placeholder {
   color: red;
}

:-ms-input-placeholder {
   color: red;
}*/

/**********************  PURE-MIN CSS  **********************/


.pure-form-stacked input[type=text],.pure-form-stacked input[type=password],.pure-form-stacked input[type=email],.pure-form-stacked input[type=url],.pure-form-stacked input[type=date],.pure-form-stacked input[type=month],.pure-form-stacked input[type=time],.pure-form-stacked input[type=datetime],.pure-form-stacked input[type=datetime-local],.pure-form-stacked input[type=week],.pure-form-stacked input[type=number],.pure-form-stacked input[type=search],.pure-form-stacked input[type=tel],.pure-form-stacked input[type=color],.pure-form-stacked select,.pure-form-stacked textarea { display:block; margin:0.35em 0px 0px 0.3em; }
.pure-form-stacked input:not([type]) { display:block; margin:0.25em 0; }
.pure-form input[type=text],.pure-form input[type=password],.pure-form input[type=email],.pure-form input[type=url],.pure-form input[type=date],.pure-form input[type=month],.pure-form input[type=time],.pure-form input[type=datetime],.pure-form input[type=datetime-local],.pure-form input[type=week],.pure-form input[type=number],.pure-form input[type=search],.pure-form input[type=tel],.pure-form input[type=color],.pure-form select,.pure-form textarea { padding:.5em .6em; display:inline-block;	border:1px solid #ccc; box-shadow:inset 0 1px 3px #ddd;	border-radius:4px; margin-bottom:6px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.pure-form input:not([type]) { padding:.5em .6em; display:inline-block;	border:1px solid #ccc; box-shadow:inset 0 1px 3px #ddd;	border-radius:4px; margin-bottom:6px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.pure-form input[type=color] { padding:.2em .5em; }
.pure-form input[type=text]:focus, .pure-form input[type=password]:focus, .pure-form input[type=email]:focus, .pure-form input[type=url]:focus, .pure-form input[type=date]:focus, .pure-form input[type=month]:focus, .pure-form input[type=time]:focus, .pure-form input[type=datetime]:focus, .pure-form input[type=datetime-local]:focus, .pure-form input[type=week]:focus, .pure-form input[type=number]:focus, .pure-form input[type=search]:focus, .pure-form input[type=tel]:focus, .pure-form input[type=color]:focus, .pure-form select:focus, .pure-form textarea:focus { outline:0; outline:thin dotted \9; border-color:#129FEA; }
.pure-form input:not([type]):focus { outline:0;	outline:thin dotted \9;	border-color:#129FEA; }
.pure-form input[type=file]:focus, .pure-form input[type=radio]:focus, .pure-form input[type=checkbox]:focus { outline:thin dotted #333; outline:1px auto #129FEA; }
.pure-form .pure-checkbox, .pure-form .pure-radio { margin:.5em 0; display:block; }
.pure-form input[type=text][disabled], .pure-form input[type=password][disabled], .pure-form input[type=email][disabled], .pure-form input[type=url][disabled], .pure-form input[type=date][disabled], .pure-form input[type=month][disabled], .pure-form input[type=time][disabled], .pure-form input[type=datetime][disabled], .pure-form input[type=datetime-local][disabled], .pure-form input[type=week][disabled], .pure-form input[type=number][disabled], .pure-form input[type=search][disabled], .pure-form input[type=tel][disabled], .pure-form input[type=color][disabled], .pure-form select[disabled], .pure-form textarea[disabled] { cursor:not-allowed; background-color:#eaeded; color:#cad2d3; }
.pure-form input:not([type])[disabled] { cursor:not-allowed; background-color:#eaeded; color:#cad2d3; margin-left:0.3em; }
.pure-form input[readonly], .pure-form select[readonly], .pure-form textarea[readonly] { background:#eee; color:#777; border-color:#ccc; }
.pure-form input:focus:invalid, .pure-form textarea:focus:invalid, .pure-form select:focus:invalid { color:#b94a48; border-color:#ee5f5b; }
.pure-form input:focus:invalid:focus, .pure-form textarea:focus:invalid:focus, .pure-form select:focus:invalid:focus { border-color:#e9322d; }
.pure-form input[type=file]:focus:invalid:focus, .pure-form input[type=radio]:focus:invalid:focus, .pure-form input[type=checkbox]:focus:invalid:focus { outline-color:#e9322d; }
.pure-form select { border:1px solid #ccc; background-color:#fff; }
.pure-form select[multiple]{ height:70px; }
.pure-form label{ margin:.5em 0 .2em; }
.pure-form fieldset { margin:0;	padding:.35em 0 .75em; border:0; }
.pure-form legend{ display:block; width:95%; padding:.3em .3em; margin-bottom:.3em; color:#00BE0A; border-bottom:1px solid #00BE0A; font-family: Ubuntu; font-weight: 590; }
.pure-form input.pure-input-rounded, .pure-form .pure-input-rounded { border-radius:2em; padding:.5em 1em; }
.pure-form .pure-group fieldset { margin-bottom:10px; }
.pure-form .pure-group input { display:block;padding:10px; margin:0; border-radius:0; position:relative; top:-1px; }
.pure-form .pure-group input:focus { z-index:2; }
.pure-form .pure-group input:first-child { top:1px;	border-radius:4px 4px 0 0; }
.pure-form .pure-group input:last-child { top:-2px;	border-radius:0 0 4px 4px; }
.pure-form .pure-group button {	margin:.35em 0; }
.pure-form .pure-input-1 { width:100%; }
.pure-form .pure-input-2-3 { width:66%; }
.pure-form .pure-input-1-2 { width:50%; }
.pure-form .pure-input-1-3 { width:33%; }
.pure-form .pure-input-1-4 { width:25%; }
.pure-form .pure-help-inline, .pure-form-message-inline { display:inline-block; padding-left:.3em; color:#666; vertical-align:middle; font-size:.875em; }
.pure-form-message { display:block;	color:#666;	font-size:.875em; }
@media only screen and (max-width :480px) {
	.pure-form btn[type=submit]	{ margin:.7em 0 0; }
	.pure-form input:not([type]), .pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form label { margin-bottom:.3em; display:block; }
}


/********************** JQUERY MIN CSS **************************/


.ui-autocomplete { position: absolute; top: 0; left: 0;	cursor: default; }
.ui-autocomplete-category { font-weight:bold; padding:.2em .4em; margin:.8em 0 .2em; line-height:1.2; }
.ui-front {	z-index: 100; }
.ui-widget { font-family: Verdana,Arial,sans-serif;	font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa; background: #ffffff url("Images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;	color: #222222; }
.ui-widget-content a { color: #222222; }
.ui-widget-header {	border: 1px solid #aaaaaa; background: #cccccc url("Images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;	color: #222222;	font-weight: bold; }
.ui-widget-header a { color: #222222; }
.ui-menu { list-style: none; padding: 0; margin: 0;	display: block;	outline: none; }
.ui-menu .ui-menu {	position: absolute; }
.ui-menu .ui-menu-item { position: relative; margin: 0;	padding: 3px 1em 3px .4em; cursor: pointer;	min-height: 0; /* support: IE7 */ /* support: IE10, see #8844 */ list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"); }
.ui-menu .ui-menu-divider {	margin: 5px 0; height: 0; font-size: 0;	line-height: 0;	border-width: 1px 0 0 0; }
.ui-menu .ui-state-focus, .ui-menu .ui-state-active { margin: -1px; }
.ui-menu-icons { position: relative; }
.ui-menu-icons .ui-menu-item { padding-left: 2em; }

/* left-aligned */
.ui-menu .ui-icon { position: absolute; top: 0; bottom: 0; left: .2em; margin: auto 0; }

/* right-aligned */
.ui-menu .ui-menu-icon { left: auto; right: 0; }

.ui-selectmenu-menu .ui-menu { overflow: auto; /* Support: IE7 */ overflow-x: hidden; padding-bottom: 1px; }
.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup { font-size: 1em; font-weight: bold; line-height: 1.5; padding: 2px 0.4em; margin: 0.5em 0 0 0; height: auto; border: 0; }
.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {	border: 1px solid #d3d3d3; background: #e6e6e6 url("Images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x; font-weight: normal;	color: #555555; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999;	background: #dadada url("Images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x;	font-weight: normal; color: #212121; }
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited { color: #212121; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff url("Images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x; font-weight: normal;	color: #212121; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { border: 1px solid #fcefa1;	background: #fbf9ee url("Images/ui-bg_glass_55_fbf9ee_1x400.png") 50% 50% repeat-x;	color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error { border: 1px solid #cd0a0a;	background: #fef1ec url("Images/ui-bg_glass_95_fef1ec_1x400.png") 50% 50% repeat-x;	color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {	color: #cd0a0a; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {	font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-state-disabled .ui-icon { filter:Alpha(Opacity=35); /* For IE8 - See #6059 */ }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px;	height: 16px; }
.ui-icon, .ui-widget-content .ui-icon {	background-image: url("Images/ui-icons_222222_256x240.png"); }

/*  */
.ui-helper-hidden-accessible { display:none; height: 80px; width: inherit; position: relative; }


/********************** MEDIA QUERIES **************************/


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

.header ul { margin-left:0; max-width:100%; }

.header ul li a { padding:5px 5px; font-size:18px; margin-right:5px; border-radius: 5px; }

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width : 321px) and (max-device-width : 767px) {

.header ul { margin-left:30px; max-width:100%; }

.header ul li a { padding:5px 10px; font-size:18px; margin-right:10px; border-radius: 5px; }

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-device-width : 320px) {

.header ul { margin-left:30px; max-width:100%; }

.header ul li a { padding:5px 10px; font-size:18px; margin-right:10px; border-radius: 5px; }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

.header ul li a { font-size:19px; border-radius: 5px; }

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

.header ul { margin-left:100px; }

.header ul li a { padding:5px 12px; margin-right:10px; }

}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

.header ul { margin-left:50px; }

.header ul li a { padding:5px 10px; margin-right:7.5px; }

}

/* Desktops and laptops ----------- */
/*@media only screen and (min-width : 1400px) {

.header ul { margin-left:300px; }

.header ul li a { padding:5px 15px; margin-right:15px; }

}
*/

/* Large screens ----------- */
/*@media only screen and (min-width : 1824px) {

.header ul { margin-left:400px; }

.header ul li a { padding:5px 20px; margin-right:15px; }

}
*/

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

}


#captcha-input { width: 350px; margin: 10px 0 0 10px; }

#captcha { margin: 10px 20px 0 10px; display: inline-block; width: 80px; height: 30px; } 
